<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/sidebar.ejs') %>
    <div class="right">
        <div class="righttop">
            <a href="/anime" class="talent">
                <div class="talenticon" id="animation"></div>
                <!-- <div class="talentype" >Animation</div> -->
            </a>
            <a href="/music" class="talent">
                <div class="talenticon" id="music"></div>
                <!-- <div class="talentype">Music</div> -->
            </a>
            <a href="/paintings" class="talent">
                <div class="talenticon" id="painting"></div>
                <div class="talentype">Painting</div>
            </a>
            <a href="/dance" class="talent">
                <div class="talenticon" id="dance"></div>
                <!-- <div class="talentype">Dance</div> -->
            </a>
        </div>
        <div class="rightbottom">
            <% items.forEach(function(image) { %>
            <a class="single" href="/paintings/<%= image._id%>">
                <div class="animationcard" id="painting">
                    <div class="thumbnail">
                        <img 
                            style="width: 100%; height: 100%; object-fit: cover; border-radius: 8px;"
                            src="data:image/<%= image.img.contentType %>;base64,<%= image.img.data.toString('base64') %>"
                            alt="<%= image.name %>"
                        />
                    </div>
                    <div class="animationcardbottom">
                        <div class="creatordp"></div>
                        <div class="animationcarddetails">
                            <div class="animationtitle"><%= image.name %></div>
                            <div class="animationcarddetailsbottom" style="color: rgb(159, 158, 158);"><%= image.desc %></div>
                        </div>
                    </div>
                </div>
            </a>
            <% }) %>
        </div>
    </div>
</body>
</html>
